.hero__title {
    font-weight: 500;
    font-size: 76px;
    line-height: 90%;
    letter-spacing: -0.02em;
    color: #fff9f3;
    max-width: 1105px;
}

.hero__bottom-text {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.hero {
  height: var(--fixed-vh, 100vh);
  min-height: var(--fixed-vh, 100vh);
}

.hero__inner {
    padding-bottom: 55px;
    padding-top: 200px;
}

.hero__bottom-descr {
    margin: 0;
    font-weight: 400;
    font-size: 24px;
    line-height: 110%;
    letter-spacing: -0.02em;
    color: #fff5ed;
    max-width: 431px;
}

.hero__bottom-descr--mobile {
  display: none;
}

/* ==========================================================================
   Reflections
   ========================================================================== */

.reflections {
  padding-top: 125px;
  padding-bottom: 100px;
}

.reflections__inner {
  display: flex;
  flex-direction: column;
  gap: 72px;
  align-items: stretch;
}

.reflections__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.reflections__left {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: start;
}

.reflections__title {
  font-weight: 500;
  font-size: 80px;
  line-height: 98%;
  letter-spacing: -0.02em;
  color: #282828;
  margin: 0;
  max-width: 1533px;
}

.reflections__text {
  margin: 0;
  font-weight: 500;
  font-size: 40px;
  letter-spacing: -0.02em;
  color: #282828;
  max-width: 727px;
}

.reflections__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 893px;
}

.reflections__btn {
  background: #282828;
  color: #fff9f3;
}

.reflections__list li {
  padding: 28px 0;
  border-bottom: 1px solid rgba(212, 204, 198, 0.9);
  font-weight: 400;
  font-size: 24px;
  letter-spacing: -0.02em;
  color: #000;
}

.reflections__list li:first-child {
  padding-top: 0;
}

/* ==========================================================================
   Method
   ========================================================================== */

.method {
  padding-top: 100px;
  padding-bottom: 150px;
}

.method__inner {
  display: flex;
  gap: 55px;
  align-items: stretch;
}

.method__image {
  flex-shrink: 0;
  object-fit: cover;
  border-radius: 4px;
  display: block;
}

.method__right {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.method__top {
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.method__title {
  margin: 0;
  font-weight: 500;
  font-size: 82px;
  line-height: 98%;
  letter-spacing: -0.02em;
  color: #282828;
}

.method__subtitle {
  margin: 0;
  font-weight: 500;
  font-size: 40px;
  line-height: 120%;
  color: #282828;
  opacity: 0.55;
  max-width: 810px;
}

.method__body {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.method__text {
  margin: 0;
  font-weight: 400;
  font-size: 24px;
  line-height: 130%;
  color: #282828;
  max-width: 897px;
}

/* ==========================================================================
   Results
   ========================================================================== */

.results {
  position: relative;
  background: #fff9f3;
  padding-top: 100vh;
}

.results__head {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 32px;
  z-index: 0;
  pointer-events: none;
}

.results__head--fixed {
  position: fixed;
  top: 0;
}

.results__container {
  max-width: 1540px;
  width: 100%;
  margin: 0 auto;
  padding: 0 0 280px;
}

.results__title {
  margin: 0;
  font-weight: 500;
  font-size: 76px;
  line-height: 98%;
  letter-spacing: -0.02em;
  text-align: center;
  color: #282828;
  max-width: 900px;
}

.results__desc {
  margin: 0;
  font-weight: 500;
  font-size: 18px;
  line-height: 123%;
  letter-spacing: -0.02em;
  text-align: center;
  color: #282828;
  max-width: 566px;
}

.results__cards {
  display: flex;
  flex-direction: column;
  gap: 230px;
  position: relative;
  z-index: 1;
}

.results-card {
  border-radius: 8px;
  width: 541px;
  padding: 16px 24px 30px 24px; 
  background: #f0ece7;
}

.results-card--right {
  margin-left: auto;
}

.results-card__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 16px;
}

.results-card__num {
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  color: #282828;
  opacity: 0.6;
}

.results-card__divider {
  margin: 0 -20px;
  border-bottom: 1px solid rgba(40, 40, 40, 0.18);
  margin-bottom: 28px;
}

.results-card__title {
  margin: 0 0 13px;
  font-weight: 500;
  font-size: 32px;
  line-height: 110%;
  color: #282828;
}

.results-card__text {
  margin: 0 0 55px;
  font-weight: 400;
  font-size: 16px;
  line-height: 121%;
  letter-spacing: -0.02em;
  color: #282828;
  opacity: 0.8;
}

.results-card__img {
  width: 100%;
  display: block;
  border-radius: 8px;
  object-fit: cover;
}

/* foundation */
.foundation__btn {
  gap: 130px;
  border-radius: 8px;
  padding: 20px;
}

.foundation__title {
  font-weight: 500;
}

.foundation__content {
  padding-bottom: 233px;
  padding-top: 80px;
}

.foundation__desc {
  margin-bottom: auto;
  max-width: 326px;
}