@media (max-width: 1919px) {
    .contacts-breadcrumb__link {
        font-size: 12px;
    }
        /* hero */
    .ss-hero__title {
        font-size: 60px;
    }

    .ss-hero__subtitle {
        font-size: 18px;
    }

    .ss-hero__desc {
        font-size: 18px;
        max-width: 462px;
    }

    .hero__bottom-label {
        font-size: 24px;
    }

    .ss-hero__bottom-left {
        gap: 15px;
    }

    .hero__inner--ss {
        padding-bottom: 80px;
    }

    .ss-hero__top {
        gap: 50px;
    }
 
    /* screening  */
    .screening {
        padding-top: 80px;
        padding-bottom: 100px;
    }

    .screening__card {
        padding: 15px 23px 23px;
    }

    .screening__card-num {
        font-size: 14px;
    }

    .screening__card-title  {
        font-size: 24px;
    }

    .screening__card-desc {
        font-size: 14px;
        margin-bottom: 70px;
    }

    .screening__card-note {
        font-size: 14px;
        max-width: 264px;
    }

    .screening__card-price {
        font-size: 20px;
    }

    .screening__card-img {
        height: 250px;
    }

        /* .reviews */
    .reviews {
        padding: 60px 0;
        padding-top: 0;
    }

    .reviews__title {
        font-size: 52px;
    }

    .reviews__head {
        margin-bottom: 36px;
    }

    .reviews-card {
        padding: 36px;
    }

    .reviews-card__title {
        font-size: 20px;
    }

    .reviews-card {
        width: 455px;
        min-height: 436px;
    }

    .reviews-card__text p {
        font-size: 14px;
    }

    .reviews-card__avatar {
        width: 44px;
        height: 44px;
    }

    .reviews-card__name {
        font-size: 18px;
    }

    .reviews-card__role {
        font-size: 12px;
    }

    .reviews-card__bottom {
        gap: 16px;
    }

    .reviews-card__top {
        gap: 24px;
    }
}

@media (max-width: 1500px) {
    /* hero */

    .ss-hero__title {
        font-size: 52px;
    }

    .ss-hero__subtitle {
        font-size: 16px;
    }

    .ss-hero__desc {
        font-size: 16px;
        max-width: 400px;
    }

    .ss-hero__top {
        gap: 40px;
    }

    /* screening  */
    .screening__card-img {
        height: 200px;
    }

    .screening__card-desc {
        font-size: 13px;
        margin-bottom: 50px;
    }

    .screening__card-note {
        font-size: 13px;
        max-width: 243px;
    }

    .screening__card-price {
        font-size: 16px;
    }

        /* .reviews */
    .reviews__title {
        font-size: 42px;
    }

    .reviews-card {
        padding: 26px;
    }

    .reviews-card__title {
        font-size: 16px;
    }

    .reviews-card {
        width: 355px;
        min-height: 336px;
    }

    .reviews-card__text p {
        font-size: 12px;
    }

    .reviews-card__avatar {
        width: 35px;
        height: 35px;
    }

    .reviews-card__name {
        font-size: 14px;
    }

    .reviews-card__role {
        font-size: 10px;
    }

    .reviews-card__bottom {
        gap: 12px;
    }

    .reviews-card__top {
        gap: 16px;
    }
}

@media (max-width: 1240px) {
    .screening__grid {
    grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 1024px) {
    .ss-hero__bottom {
        flex-direction: column;
        align-items: flex-start;
        gap: 30px;
    }

    .ss-hero__desc {
        max-width: 600px;
    }

    .reviews__cta--mobile {
        display: flex;
        width: 100%;
        justify-content: space-between;
        margin-top: 20px;
    }

    .reviews__cta {
        display: none;
    }
}

@media (max-width: 768px) {
    .screening__grid {
    grid-template-columns: 1fr;
    gap: 16px;
    }
}

@media (max-width: 560px) {
    .hero__inner--ss {
        padding-top: 80px;
        padding-bottom: 16px;
    }

    .ss-hero__top {
        gap: 24px;
    }

    .ss-hero__title {
        font-size: 32px;
    }

    .hero__bottom-label {
        font-size: 18px;
    }

    .ss-hero__text-wrapper {
        gap: 10px;
    }

    .ss-hero__subtitle {
        font-size: 13px;
    }

    .ss-hero__desc {
        font-size: 13px;
    }

    .ss-hero__bottom {
        gap: 18px;
    }

    /* screening */
    .screening {
        padding-top: 40px;
        padding-bottom: 80px;
    }

    .screening__card {
        padding: 20px;
        border-radius: 5px;
    }

    .screening__card-num {
        font-size: 12px;
    }

    .screening__card:first-child .screening__card-note {
    max-width: 100%;
    }

    .screening__card-top {
        margin-bottom: 16px;
    }

    .screening__card-divider {
        margin-bottom: 16px;
    }

    .screening__card-desc {
        margin-bottom: 73px;
    }

    .screening__card-footer {
        flex-direction: column;
        align-items: start;
        gap: 8px;
    }

    .screening__card-note {
        max-width: 100%;
    }

    .screening__card-img {
        height: 170px;
        border-radius: 3px;
    }

        /* reviews */
    .reviews__title {
        font-size: 32px;
    }

    .reviews__head {
        margin-bottom: 40px;
    }

    .reviews-card {
        border-radius: 5px;
        padding: 20px;
        width: 343px;
        min-height: 370px;
        gap: 20px;
    }

    .reviews-card__title {
        font-size: 18px;
    }

    .reviews-card__top {
        gap: 24px;
    }

    .reviews-card__text p {
        font-size: 13px;
    }

    .reviews-card__text {
        gap: 16px;
    }

    .reviews-card__avatar {
        width: 40px;
        height: 40px;
    }

    .reviews-card__name {
        font-size: 16px;
    }

    .reviews-card__role {
        font-size: 13px;
    }

    .reviews-card__author {
        gap: 4px;
    }
}