.header__logo, .header__nav-item--link {
    color: #282828;
}

.mobile-hidden {
  display: none;
}

.hero__title {
    font-weight: 500;
    font-size: 130px;
    line-height: 94%;
    letter-spacing: -0.02em;
    text-align: center;
    color: #282828;
    max-width: 100%;
}

.hero__inner {
    align-items: center;
    min-height: auto;
    padding-top: 240px;
    padding-bottom: 50px;
}

/* ==========================================================================
   Text Reveal
   ========================================================================== */

.text-reveal {
  padding-top: 100px;
  padding-bottom: 100px;
}

.text-reveal__text {
  margin: 0;
  font-weight: 400;
  font-size: 63px;
  line-height: 98%;
  letter-spacing: -0.02em;
  max-width: 1658px;
}

.text-reveal__word {
  color: rgba(40, 40, 40, 0.4);
  transition: color 0.25s ease;
  display: inline;
}

.text-reveal__word--filled {
  color: #282828;
}

/* ==========================================================================
   Team Members Grid
   ========================================================================== */

.team-members {
  padding-top: 80px;
  padding-bottom: 135px;
}

.systems-card__desc {
  /* max-width: 211px; */
  max-width: 252px;
}

.systems-card__title {
  font-size: 24px;
}

.systems-card__tags {
  max-width: 33%;
}

.systems-card:first-child .systems-card__tags {
  max-width: 30%;
} 

.team-members__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
  row-gap: 28px;
  column-gap: 16px;
}

.team-members__grid .systems-card {
  width: 100%;
  flex-shrink: unset;
}

.team-members__grid .systems-card:nth-child(1) { grid-column: 1; grid-row: 1; }
.team-members__grid .systems-card:nth-child(2) { grid-column: 3; grid-row: 1; }
.team-members__grid .systems-card:nth-child(3) { grid-column: 1; grid-row: 2; }
.team-members__grid .systems-card:nth-child(4) { grid-column: 2; grid-row: 2; }
.team-members__grid .systems-card:nth-child(5) { grid-column: 2; grid-row: 3; }
.team-members__grid .systems-card:nth-child(6) { grid-column: 3; grid-row: 3; }
.team-members__grid .systems-card:nth-child(7) { grid-column: 1; grid-row: 4; }